#redirect_page{
    background-color: #98ca23a0;
}
#Page{
    background:url("../images/download.jpeg") 400px 10px repeat-y;
}
a:link{
    color: #c10f8c;
}
a:visited{
    color: #93d50d;
}
a:hover{
    color: #0e9dc5;
    text-decoration: none;
}
.box {
  background-image: url("https://mdn.github.io/shared-assets/images/examples/balloons.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width: 200px;
  height: 200px; /* Add height */
  border: 1px solid black; /* Optional: to see the box outline */
}
button {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}
