#redirect_page{
    background-color: #98ca23a0;
}
#Page{
    background:url("../images/download.jpeg") 400px 10px repeat-y;
}
a:link{
    color: #c10f8c;
}
a:visited{
    color: #93d50d;
}
a:hover{
    color: #0e9dc5;
    text-decoration: none;
}
.box {
  background-image: url("https://mdn.github.io/shared-assets/images/examples/balloons.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width: 200px;
  height: 200px; /* Add height */
  border: 1px solid black; /* Optional: to see the box outline */
}
