#redirect_page{
    background-color: #98ca23a0;
}
#Page{
    background: red url("../images/download.jpeg") 10px 10px repeat;
}
a:link{
    color: #c10f8c;
}
a:visited{
    color: #93d50d;
}
a:hover{
    color: #0e9dc5;
    text-decoration: none;
}
.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.615turn);
}
div.box:hover{
    background-color: #0e9dc5;
    text-decoration: none;
}